

h1 {
    text-align: center;
    background-color: rgb(248, 246, 246);
    color:rgb(17, 131, 184);
    width: 100%;
    padding: 10px;
}

h2 {
    color:rgb(109, 25, 112);
}

html, body {
    height: 100%;
    min-height: 100%;
  }

body {
    background: url(./Photos/CapeCod.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }

#introduction, #info, #funFacts, #education{
      padding: 20px;
      background: rgba(255, 255, 255, 0.973);
      width:fit-content;
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
  }

#links {
  padding: 20px;
  color:rgb(30, 156, 68)
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#button {
  padding: 10px;
  margin: 30px;
  color:black;
  background: rgb(30, 156, 68)
}

